html, body{
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "微软雅黑";
}
.layui-tab {
  margin:0px
}
.layui-layer-title {
  height: 35px;
  line-height: 35px;
}

.layui-tab-title {
  height: 35px;
  line-height: 35px;
}
.layui-tab-title .layui-this:after {
  height: 36px;
}
.layui-tab-title li {
  line-height: 35px;
}
